.nav-item {
    display: inline-block;
    color: black;
    text-decoration: none;
    border: 1px solid transparent;
    padding-bottom: 5px;
}

.nav-item + .nav-item {
    margin: 0 15px;
}

.nav-item:hover {
    border-bottom: 1px solid black;
}
