.selector {
    border: 8px solid #faeddf;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 0 0 2px transparent;
}

.selector.white {
    background-color: #f1f2ef;
    border: 1px solid rgb(155, 155, 155);
    height: 24px;
    width: 24px;
    margin: 0 5px;
}

.selector.selected {
    box-shadow: 0 0 2px black;
}

.selector.green {
    background-color: #0e5540;
}

.selector.blue {
    background-color: #243d94;
}

.selector.orange {
    background-color: #f4a620;
}

.selector.pink {
    background-color: #df95a1;
}

.selector.black {
    background-color: #000;
}
