.list-container {
    padding: 1em;
}
table {
    width: 100%;
}
table,
th,
td {
    border: 1px solid DarkSlateGray;
    border-collapse: collapse;
    vertical-align: top;
}
th,
td {
    padding: 5px;
}

thead {
    background: DarkSlateGray;
    color: greenyellow;
}
.published {
    width: 130px;
}
