fieldset {
    width: 400px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
}
.field {
    margin: 10px 0;
}
.cta {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: end;
}

.field input,
.field select {
    width: 100%;
    border: 1px solid grey;
    border-radius: 0.25em;
    padding: 10px;
    margin-top: 4px;
}

button.create {
    background-color: #2c2cf7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
}
