.product {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 36px;
    box-sizing: border-box;
    margin: 52px 0 0;
    padding: 0 10px;
}

.product-top {
    background-color: #ede1d4;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.discounted {
    text-decoration: line-through;
    color: rgb(160, 159, 159);
    margin-right: 1rem;
}

.colors-container {
    padding: 2em;
}
