.hero-content {
    width: 850px;
    padding: 30px;
    text-align: left;
}
.hero-content > h1 {
    font-size: 6em;
    line-height: 1;
    margin: 0;
}
.hero-content > p {
    font-size: 1.5em;
    line-height: 2.5;
}
