.App {
    text-align: center;
}

header {
    background-color: #960047;
    color: white;
}

nav {
    background-color: #faeddf;
}

#hero-block {
    background-color: lightgray;
    color: white;
}

#brand-container {
    background-color: #0e5540;
    color: #f4a620;
}

#shop-container {
    background-color: #faeddf;
}
