.App {
    text-align: center;
}

header {
    background-color: #960047;
    color: white;
    padding: 0.5em;
}

nav {
    background-color: #faeddf;
    padding: 1em;
}

#hero-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    align-content: normal;
    background-color: lightgray;
    color: white;
    background: url("/public/BFCM_Homepage_Heros_3_1440x810_crop_center.webp");
    background-position: top center;
    background-size: 1946px 873px;
    background-repeat: no-repeat;
    height: 870px;
}
.hero-content {
    width: 850px;
    padding: 30px;
    text-align: left;
}
.hero-content > h1 {
    font-size: 6em;
    line-height: 1;
    margin: 0;
}
.hero-content > p {
    font-size: 1.5em;
    line-height: 2.5;
}
button.hero {
    border: 1px solid #f4a620;
    background: none;
    box-shadow: none;
    background-color: #f4a620;
    color: #000;
    padding: 12px 20px;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em 4em;
}

button.hero:hover {
    background-color: #faeddf;
    color: #0e5540;
}

#brand-container {
    background-color: #0e5540;
    color: #f4a620;
    padding: 20px 20px 110px;
}

#shop-container {
    padding: 0 10px 40px;
    background-color: #faeddf;
    padding: 0.5em;
}
